* {
    box-sizing: border-box;
}

html {
    font-family: 'AcuminPro', sans-serif;
    color: $dark-blue;
    font-size: rem(16);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    background: #F5F5F5;
    margin: 0;
}

h1 {
    font-size: rem(32);
    font-weight: 600;
    margin-top: rem(48);
    margin-bottom: rem(16);
}

h2 {
    font-size: rem(28);
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: rem(24);
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: rem(22);
    font-weight: 500;
    margin: 0;
    opacity: 0.55;
}

h5 {
    font-size: rem(20);
    margin: 0;
}

p {
    margin: 0;
    max-width: rem(760);
    font-size: rem(18);
    line-height: 1.6;

    & + p {
        margin-top: rem(8);
    }

    & + button,
    & + .button {
        margin-top: rem(16)
    }
}

h2, h3, h4, h5, h6 {
    margin-bottom: rem(0);

    time {
        font-weight: 400;
    }

    & + p, & + ul, & + ol {
        margin-top: rem(8);
    }
}

ul, ol {
    margin: 0;
    padding: 0 0 0 rem(16);

    & + p {
        margin-top: rem(16);
    }
}

a {
    text-decoration: none;
    font-weight: 500;
    color: $brand-primary;

    @include transition(0.1s, color);

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &.active,
    &.disabled {
    }

    &.icon-link {
        display: inline-flex;
        align-items: center;
        margin-top: rem(24);
        margin-right: rem(24);
        height: 32px;

        img {
            margin-right: rem(8);
        }
    }
}

section {
    max-width: rem(672);
    margin: 0 auto;

    & > header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.avatar {
    border-radius: 50%;
}