.card {
    background-color: $white;
    padding: rem(40);
    border-radius: rem(3);
    margin-top: rem(16);
    margin-bottom: rem(32);

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(24);
    }

    &.active {
        background-color: $brand-primary;
        color: $white;

        a {
            color: $white;
        }
    }
}

.card--weekly-geek {
    h2 {
        font-size: rem(40);
        margin: rem(8) 0 rem(4) 0;
    }

    h3 {
        font-size: rem(27);
        font-weight: 500;
        color: $purple;
    }
}