.card {
    background-color: $white;
    padding: rem(40);
    border-radius: rem(3);
    margin-top: rem(16);
    margin-bottom: rem(32);

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(24);
    }

    &.active {
        background-color: $brand-primary;
        color: $white;

        a {
            color: $white;
        }
    }
}