@mixin beforeIcon($margin-right: 0, $margin-left: 0, $size: 1rem) {
    content: " ";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: $margin-right;
    margin-left: $margin-left;
    width: $size;
    height: $size;
}

.meta {
    list-style: none;
    padding: 0;

    li {
        margin-top: rem(8);
        display: flex;

        a {
            display: inline-flex;
            width: 100%;
        }

        &:first-child {
            margin-top: rem(0);
        }

        &::before {
            @include beforeIcon(1rem);
        }
    }

    .time {
        &::before {
            background-image: url("../img/clock.svg");
        }
    }

    .location {
        &::before {
            background-image: url("../img/location.svg");
        }
    }

    .link {
        &::before {
            background-image: url("../img/link.svg");
        }
    }

    .deadline {
        margin-left: auto;
        &::before {
            @include beforeIcon(0.5rem, 1rem);
            background-image: url("../img/stopwatch-blue.svg");
        }
    }

    .calendar {
        &::before {
            background-image: url("../img/calendar.svg");
        }
    }
}

.active .meta{
    .time {
        &::before {
            background-image: url("../img/clock-white.svg");
        }
    }

    .calendar {
        &::before {
            background-image: url("../img/calendar-white.svg");
        }
    }

    .location {
        &::before {
            background-image: url("../img/location-white.svg");
        }
    }

    .deadline {
        &::before {
            background-image: url("../img/stopwatch-white.svg");
        }
    }

    .link {
        &::before {
            background-image: url("../img/link-white.svg");
        }
    }
}