@mixin dot() {
    width: rem(14);
    height: rem(14);
    margin-top: rem(4);
    margin-left: rem(17);
    border-radius: rem(16);
}

@keyframes fadein {
    from {
        transform: translateY(rem(-64));
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.timeline-item {
    display: flex;
    flex: 1;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.timeline-previous {
    .timeline-item-content {
        margin-top: rem(9);
        color: $brand-primary;

        &:hover {
            text-decoration: underline;
        }
    }
}

.timeline-item-content {
    width: 100%;
    padding-bottom: rem(32);
}

.timeline-shape {
    display: flex;
    width: rem(48);
    background: url("../img/line.svg") repeat-y;

    margin-right: rem(-48);
    transform: translateX(rem(-64));
}

.timeline-dot {
    @include dot();
    background: $brand-primary;
}

.timeline-dot-outline {
    @include dot();
    background: #F5F5F5;
    border: 2px solid $brand-primary;
}