@font-face {
    font-family: 'AcuminPro';
    src: url('../fonts/AcuminPro-Regular.eot'),
         url('../fonts/AcuminPro-Regular.woff2') format('woff2'),
         url('../fonts/AcuminPro-Regular.woff') format('woff'),
         url('../fonts/AcuminPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AcuminPro';
    src: url('../fonts/AcuminPro-Medium.eot'),
    url('../fonts/AcuminPro-Medium.woff2') format('woff2'),
    url('../fonts/AcuminPro-Medium.woff') format('woff'),
    url('../fonts/AcuminPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AcuminPro';
    src: url('../fonts/AcuminPro-Semibold.eot'),
    url('../fonts/AcuminPro-Semibold.woff2') format('woff2'),
    url('../fonts/AcuminPro-Semibold.woff') format('woff'),
    url('../fonts/AcuminPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AcuminPro';
    src: url('../fonts/AcuminPro-Bold.eot'),
    url('../fonts/AcuminPro-Bold.woff2') format('woff2'),
    url('../fonts/AcuminPro-Bold.woff') format('woff'),
    url('../fonts/AcuminPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}