:root {
    --brand-primary: #4D92A5;
    --brand-primary-transculent: rgba(77, 146, 165, 0.9);
    --brand-primary-transparent: rgba(77, 146, 165, 0.4);
    --brand-light: #EBF5F7;
    --title-primary: #000000;
    --text-primary: #767676;
    --poster-height: 348px;
    --border-radius: .1875rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Circular", sans-serif;
    color: var(--title-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 4rem 0;
}

section,
header {
    max-width: 64rem;
    margin: 4rem auto 0 auto;
}

section {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.75rem;
    margin: 0;
}

h2 {
    font-weight: 400;
    margin-top: .5rem;
    font-size: 1.5rem;
    color: #636363;
}

h3 {
    font-weight: 500;
    font-size: 1.375rem;
    margin: 1rem 0 0 0;
}

h4 {
    font-size: 1.25rem;
    color: var(--brand-primary);
    margin: .5rem 0 0 0;
}

p {
    margin-top: .5rem;
    font-size: 1.125rem;
    color: var(--text-primary);
}

time {
    color: rgba(0,0,0,0.4);
}

img {
    max-width: 100%;
    height: auto;
}

article {
    width: 14.5rem;
    margin-right: 2rem;
}

article:nth-child(4n) {
    margin-right: 0;
}

article img {
    border-radius: var(--border-radius);
}

.btn-refresh {
    background: var(--brand-light);
    border: 0;
    width: 100%;
    border-radius: var(--border-radius);
    height: var(--poster-height);
}

.btn-refresh p {
    font-size: 1rem;
    color: #AABCC1;
}

.poster,
.btn-refresh {
    position: relative;
    height: var(--poster-height);
    transition: transform cubic-bezier(0.5, 2.44, 0.6, 1.06) .25s;
}

.poster:hover,
.btn-refresh:hover {
    transform: scale(1.015);
}

.poster::after {
    background: var(--brand-primary-transculent) url("../img/like.svg") 50% 50% no-repeat;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--border-radius);
    opacity: 0;

    transition: opacity ease-in-out 0.1s;
}

.poster:hover::after {
    opacity: 0.5;
}

.active .poster {
    transform: scale(0.97);
}

.active .poster::after {
    opacity: 1;
}

.active .btn-refresh {
    background: #DAEBEF;
    transform: scale(0.97);
}