{% extends "components/_layout.twig" %}

{% block content %}

<header>
    <h1>Discover movies</h1>
    <h2>Which of these movies do you like most?</h2>
</header>

<section>
    <article class="movie">
        <div class="poster">
            <img src="img/poster-1.jpg" alt="">
        </div>
        <h3>Blade Runner 2049 <time>(2017)</time></h3>
        <p>Science-Fiction, Drama</p>
    </article>

    <article class="movie">
        <div class="poster">
            <img src="img/poster-2.jpg" alt="">
        </div>
        <h3>Zootopia <time>(2016)</time></h3>
        <p>Animation, Comedy</p>
    </article>

    <article class="movie">
        <div class="poster">
            <img src="img/poster-3.jpg" alt="">
        </div>
        <h3>Black Panther <time>(2017)</time></h3>
        <p>Animation, Comedy</p>
    </article>

    <article class="movie">
        <div class="poster">
            <img src="img/poster-4.jpg" alt="">
        </div>
        <h3>Fifty Shades Freed <time>(2018)</time></h3>
        <p>Romance, Drama</p>
    </article>

    <article class="movie">
        <div class="poster">
            <img src="img/poster-2.jpg" alt="">
        </div>
        <h3>Zootopia <time>(2016)</time></h3>
        <p>Animation, Comedy</p>
    </article>

    <article class="movie">
        <div class="poster">
            <img src="img/poster-3.jpg" alt="">
        </div>
        <h3>Black Panther <time>(2017)</time></h3>
        <p>Animation, Comedy</p>
    </article>

    <article class="movie">
        <div class="poster">
            <img src="img/poster-4.jpg" alt="">
        </div>
        <h3>Fifty Shades Freed <time>(2018)</time></h3>
        <p>Romance, Drama</p>
    </article>

    <article>
        <button class="btn-refresh">
            <img src="img/refresh.svg" class="refresh-icon">
            <h4>None of these</h4>
            <p>Show me more movies</p>
        </button>
    </article>

</section>

{% endblock %}