{% extends "components/_layout.html" %}

{% block content %}

<header>
    <h1>Discover movies</h1>
    <h2>Which of these movies do you like most?</h2>
</header>

<section>
    <article>
        <img src="//via.placeholder.com/232x341" alt="">
        <h3>Zootopia <time>(2016)</time></h3>
        <h4>Animation, Comedy</h4>
    </article>

    <article>
        <img src="//via.placeholder.com/232x341" alt="">
        <h3>Zootopia <time>(2016)</time></h3>
        <h4>Animation, Comedy</h4>
    </article>

    <article>
        <img src="//via.placeholder.com/232x341" alt="">
        <h3>Zootopia <time>(2016)</time></h3>
        <h4>Animation, Comedy</h4>
    </article>

    <article>
        <img src="//via.placeholder.com/232x341" alt="">
        <h3>Zootopia <time>(2016)</time></h3>
        <h4>Animation, Comedy</h4>
    </article>
</section>

{% endblock %}