{% extends "components/_layout.twig" %}

{% block content %}

    <section>
        <header>
            <h1>Meldingen</h1>
            <a href="#">Notificaties inschakelen</a>
        </header>

        <article class="message">
            <img src="assets/img/slack.svg">
            <main>
                <h5>Joost</h5>
                <p><a href="#">#meldingen</a> Het programma voor morgen is gewijzigd ! Sorry daarvoor. Onze _echte mensen_ komen om 1530.</p>
            </main>
        </article>
    </section>

    <section class="section-timeline">
        <h1>Tijdlijn</h1>

        <div class="timeline">
            <article class="timeline-item">
                <div class="timeline-shape">
                    <button class="btn-round">
                        <img src="assets/img/chevron-up.svg">
                    </button>
                </div>
                <div class="timeline-item-content timeline-previous">
                    <a href="#">
                        Week eerder laden<br>
                        <small>16 april t/m 20 april</small>
                    </a>
                </div>
            </article>
            <article class="timeline-item">
                <div class="timeline-shape">
                    <div class="timeline-dot"></div>
                </div>
                <div class="timeline-item-content">
                    <h3>Vandaag <time>(23 april 2018)</time></h3>
                    <div class="card active">
                        <header>
                            <div class="titles">
                                <h2>Webdesign</h2>
                                <h4>Principles of User Interfase Design</h4>
                            </div>
                            <ul class="meta">
                                <li class="time">14:15 - 16:00</li>
                                <li class="location">KSH01</li>
                            </ul>
                        </header>

                        <ul class="meta">
                            <li class="link"><a href="#">Opdrachtomschrijving <span class="deadline">Vrijdag 21 april</span></a></li>
                            <li class="link"><a href="#">Slides Les 1 - Principles of User Interface Design URL</a></li>
                            <li class="link"><a href="#">Les 2 / Principles of user interface design /2 URL</a></li>
                        </ul>
                    </div>
                    <div class="card">
                        <header>
                            <div class="titles">
                                <h2>Real-time web</h2>
                                <h4>Hello server</h4>
                            </div>
                            <ul class="meta">
                                <li class="time">14:15 - 16:00</li>
                                <li class="location">KSH01</li>
                            </ul>
                        </header>

                        <ul class="meta">
                            <li class="link"><a href="#">Opdrachtomschrijving <span class="deadline">Vrijdag 21 april</span></a></li>
                            <li class="calendar"><a href="#">Coaching 13 april</a></li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="timeline-item">
                <div class="timeline-shape">
                    <div class="timeline-dot-outline"></div>
                </div>
                <div class="timeline-item-content">
                    <h3>Morgen <time>(24 april 2018)</time></h3>
                    <div class="card">
                        <header>
                            <div class="titles">
                                <h2>Real-time web</h2>
                                <h4>Hello server</h4>
                            </div>
                            <ul class="meta">
                                <li class="time">14:15 - 16:00</li>
                                <li class="location">KSH01</li>
                            </ul>
                        </header>

                        <ul class="meta">
                            <li class="link"><a href="#">Opdrachtomschrijving <span class="deadline">Vrijdag 21 april</span></a></li>
                            <li class="calendar"><a href="#">Coaching 13 april</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}