{% extends "components/_layout.html" %}

{% block content %}

<header>
    <h1>Discover movies</h1>
    <h2>Which of these movies do you like most?</h2>
</header>

<section>
    <article>
        <div class="poster">
            <img src="img/poster-1.jpg" alt="">
        </div>
        <h3>Zootopia <time>(2016)</time></h3>
        <p>Animation, Comedy</p>
    </article>

    <article>
        <div class="poster active">
            <img src="img/poster-2.jpg" alt="">
        </div>
        <h3>Zootopia <time>(2016)</time></h3>
        <p>Animation, Comedy</p>
    </article>

    <article>
        <div class="poster">
            <img src="img/poster-3.jpg" alt="">
        </div>
        <h3>Zootopia <time>(2016)</time></h3>
        <p>Animation, Comedy</p>
    </article>

    <article>
        <div class="poster">
            <img src="img/poster-4.jpg" alt="">
        </div>
        <h3>Zootopia <time>(2016)</time></h3>
        <p>Animation, Comedy</p>
    </article>
</section>

{% endblock %}