{% extends "components/_layout.twig" %}

{% block content %}

    <section>
        <header class="column">
            <h1 class="subject">Advanced Git Tips & Tricks</h1>
            <h2 class="author">Titus Wormer</h2>
            {#<ul class="menu">#}
                {#<li><a href="weekly-nerd-detail.html" class="icon-link"><img src="assets/img/play.svg">Terugkijken</a></li>#}
                {#<li><a href="weekly-nerd-detail.html" class="icon-link"><img src="assets/img/notes.svg">Aantekeningen</a></li>#}
            {#</ul>#}
        </header>
    </section>

    <section class="presentation" id="presentation">
        <div class="presentation__splitscreen paused">
            <div class="media">
                <video src="assets/video/talk.mp4"></video>
            </div>
            <div class="media">
                <img src="assets/img/slide-1.png" class="current-slide">
            </div>

            <button class="play-btn"></button>
        </div>
        <div class="presentation__slides"></div>

        <input class="seeker" type="range" min="0" max="99" value="0">
    </section>

    <section class="notes">

    </section>

    <script src="assets/js/app.js"></script>
{% endblock %}