{% extends "components/_layout.twig" %}

{% block content %}

    <section>
        <header class="column">
            <h1>Advanced Git Tips & Tricks</h1>
            <h2>Titus Wormer</h2>
        </header>
    </section>

    <section class="presentation">
        <div class="presentation__splitscreen paused">
            <div class="media">
                <video src="assets/video/talk.mp4"></video>
            </div>
            <div class="media">
                <img src="assets/img/slide-1.png" class="current-slide">
            </div>

            <img src="assets/img/play-big.svg" class="play-btn">
        </div>
        <div class="presentation__slides"></div>

        <input class="seeker" type="range" min="0" max="99" value="0">
    </section>

    <section class="notes">
        <h1>Slide 4 - 32 notities</h1>
    </section>


    <script src="assets/js/app.js"></script>
{% endblock %}