<nav>
    <section>
        <ul class="menu">
            <li class="active"><a href="index.html">Tijdlijn</a></li>
            {#<li><a href="#">Vakken</a></li>#}
            {#<li><a href="#">Roosters</a></li>#}
            {#<li><a href="#">Klas</a></li>#}
            <li><a href="weekly-nerd.html">Weekly nerd</a></li>
        </ul>

        <div class="profile">
            Jelle Overbeek
            <img src="assets/img/avatar.png" class="avatar">
        </div>
    </section>
</nav>