<nav>
    <section>
        <ul class="menu">
            <li {% if title == "Tijdlijn" %} class="active" {% endif %}><a href="index.html">Tijdlijn</a></li>
            <li {% if title == "Weekly Nerds" %} class="active" {% endif %}><a href="weekly-nerd.html">Weekly Nerds</a></li>
        </ul>

        <div class="profile">
            Jelle Overbeek
            <img src="assets/img/avatar.png" class="avatar">
        </div>
    </section>
</nav>